* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #fff;
}

.logo {
    width: 100px;
}

.logoImg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid#000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid#B28756;
    color: #CCC;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(./assets/media/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slideArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}

.banner h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}

.banner h1:nth-child(even) {
    color: #B28756;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.button:hover {
    color: #eee;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .sectionTitle,
.default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .sectionTitle {
    font-size: 20px;
}

.default .sectionDesc {
    font-size: 12px;
    color: #928d8d;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .sectionBody {
    max-width: 1140px;
    margin: auto;
}

.default .light {
    background-color: #f7f7f7;
}

.default .light .sectionTitle,
.default .light .sectionBody {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .sectionTitle,
.default.dark .sectionBody {
    color: #fff;
}


/* 

Specific areas 

*/

.sectionAboutMe {
    display: flex;
}

.sectionAboutMeLeft {
    flex: 1;
}

.sectionAboutMeLeft p {
    font-size: 15px;
    line-height: 25px;
}

.sectionAboutMeRight {
    width: 520px;
    text-align: center;
}

.sectionAboutMeRight img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.sectionServices {
    display: flex;
}

.sectionService {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.sectionService:first-child {
    border-left: 1px solid #333;
}

.sectionService h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.sectionService p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.sectionProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionProjectsFilters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.sectionProjectsFilters ul,
.sectionProjectsFilters li {
    list-style: none;
}

.sectionProjectsFilters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.sectionProjectsFilters li:hover,
.sectionProjectsFilters li.active {
    border-bottom: 3px solid #B28756;
}

.sectionProjectsFilters li:first-child {
    border-left: 0;
}

.sectionProjectsPhotos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionProjectsPhotoArea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.sectionProjectsPhotoArea img {
    width: inherit;
    height: inherit;
}

.sectionProjectsPhoto {
    width: 280px;
}

.sectionProjectsPhotoInfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.sectionProjectsPhotoArea:hover .sectionProjectsPhotoInfo {
    display: flex;
}

.sectionProjectsPhotoInfo h5 {
    font-size: 18px;
    font-weight: bold;
}

.sectionProjectsPhotoInfo p {
    margin-top: 10px;
}

.bgTeam {
    background-image: url('./assets/media/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.sectionTeam {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.sectionTeamArea {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionTeam .sliders {
    width: 1000vw;
    height: 100%;
}

.sectionTeam .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.sectionTeam .slideArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.sectionTeamArea .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTeamArea .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sectionTeamArea .pointer.active {
    background-color: #B28756;
}

.sectionTeamAvatar {
    width: 150px;
    width: auto;
}

.sectionTeamName {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
}

.sectionTeamRole {
    font-size: 15px;
    color: #999;
    margin-top: 5px;
}

.sectionTeamSocial {
    display: flex;
    margin-top: 20px;
}

.sectionTeamSocial a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}

.sectionTeamSocial a:hover {
    background-color: #B28756;
}

.sectionHappyClients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionClientsArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionClients {
    text-align: center;
}

.sectionClients .sectionTeamRole {
    color: #444;
    font-weight: bold;
}

.sectionClientText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.sectionClientText p {
    max-width: 880px;
    font-size: 14px;
    color: #747474;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.default.light.clients {
    background-color: #ebeaeb;
}

.default.light.price {
    background-color: #ebeaeb;
    border-bottom: 1px solid #ccc;
}

.sectionHappyClients .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionHappyClients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sectionHappyClients .pointer.active {
    background-color: #B28756;
}

.sectionCompany {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCompany img {
    width: 60px;
    height: 40px;
    margin-right: 30px;
}

.default.light.company {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100vw;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    box-shadow: 0px 1px 10px #777;
}

.sectionPrice .sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sectionPrice .slide {
    width: 250px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    margin-top: 20px;
}

.sectionPrice .slideArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 20px 40px;
}

.sectionPriceName {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
}

.sectionPriceValue {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.sectionPriceTime {
    font-size: 10px;
    text-transform: uppercase;
    color: #777;
    font-weight: 600;
}

.sectionPrice ul {
    margin-top: 30px;
    list-style: none;
    text-align: center;
}

.sectionPrice li {
    list-style: none;
}

.button.price {
    background-color: #373737;
}

.button.price:hover {
    background-color: #B28756;
}

.sectionPremium {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    padding: 30px;
}

.sectionPremium .sectionPremiumLeft {
    flex: 1;
    display: flex;
    justify-content: end;
}

.sectionPremium .sectionPremiumRightContent {
    flex: 1;
    display: inline-flex;
    margin-bottom: 30px;
}

.sectionPremium .sectionPremiumRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sectionPremium .sectionPremiumRightArea {
    flex-direction: column;
    margin-left: 30px;
}

.sectionPremiumRight img {
    width: 30px;
    height: 30px;
}

.sectionPremiumName {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.sectionPremiumDesc p {
    color: #333;
    font-weight: 100;
    padding: 10px 0px;
    line-height: 20px;
}

.sectionPremiumDesc div {
    color: #333;
    font-weight: 100;
    padding: 5px 0px;
    line-height: 20px;
}

.sectionPremiumArea .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPremiumArea .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sectionPremiumArea .pointer.active {
    background-color: #B28756;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sectionFacts {
    display: flex;
}

.sectionFact {
    flex: 1;
    text-align: center;
    padding: 15px;
}

.sectionFact h1 {
    font-size: 40px;
    color: #B28756;
}

.sectionFact h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.sectionFact p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.sectionFact .line {
    width: 30px;
    height: 3px;
    background-color: #555;
    margin: auto;
    margin-top: 5px;
}

.sectionTellUs img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
}

.default.light.tellUs {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    box-shadow: 0px 1px 10px #777;
}

.sectionTellUs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTellUs a {
    margin-right: 50px;
}

.sectionTellUs .tt {
    background-color: #33c5ef
}

.sectionTellUs .in {
    background-color: #127bb2
}

.sectionTellUs .plus {
    background-color: #e64338
}

.sectionTellUs .arroba {
    background-color: #999
}

.sectionTellUs p {
    font-size: 15px;
    font-weight: bold;
    color: #999;
    margin-right: 60px;
    text-transform: uppercase;
    margin-left: 20px;
}

.default.light.contactUs {
    background-color: #f7f7f7;
}

.sectionContactUs input {
    border: none;
    border-bottom: 1px solid #999;
    line-height: 30px;
    background-color: #f7f7f7;
    cursor: pointer;
}

.sectionContactUs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionContactUs div {
    display: flex;
}

.sectionContactUs input[type=text] {
    color: #777;
    width: 100%;
}

.sectionContactUs input[value="SUBJECT"] {
    width: 100%;
    margin-top: 20px;
}

.sectionContactUs input[value="MESSAGE"] {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sectionContactUs input[value="EMAIL"] {
    margin-left: 30px;
    width: 100%;
}

.sectionMap {
    background-image: url(./assets/media/maps.png);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sectionMapArea {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.sectionMapInfo {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
    margin: auto;
}

.sectionMapInfoItem {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 15px;
}

.sectionMapInfoItemImg {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}

.sectionMapInfoItemImg img {
    width: 15px;
    height: auto;
}

.default.dark.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerArea {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1140px;
    padding: 0px 20px;
}

.footerAreaItem1,
.footerAreaItem2,
.footerAreaItem3 {
    flex: 1;
    color: #fff;
}

.footerAreaItem1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.footerImg {
    display: flex;
    width: 30px;
    height: 30px;
}

.footerImg a {
    display: flex;
    width: 10px;
    height: auto;
    margin-right: 20px;
}

.footerImg img {
    background-color: #333;
    padding: 3px;
    border-radius: 15px;
}

.footerImg img:hover {
    background-color: #B28756;
}

.footerCopyright {
    font-size: 15px;
    font-weight: 600;
}

.footerAreaItem2 {
    font-weight: 600;
    color: #999;
    line-height: 20px;
    font-size: 12px;
    margin-right: 20px;
}

.footerAreaItem3 {
    background-color: #333;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerAreaItem3 input[name="EMAIL"] {
    border: none;
    background-color: #333;
    border-bottom: 2px solid #CCC;
    color: #CCC;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.button.footer {
    margin-top: 20px;
}

.button.footer:hover {
    background-color: #222;
}

@media (min-width:450px) and (max-width:800px) {
    .menu-opener {
        width: 45px;
        margin-right: 30px;
        display: block;
    }
    .logo {
        margin-left: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #B28756;
    }
    .sectionAboutMe {
        flex-direction: column;
    }
    .sectionAboutMeLeft {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .sectionAboutMeRight {
        width: auto;
    }
    .sectionServices {
        flex-wrap: wrap;
    }
    .sectionService {
        min-width: 50%;
        margin-bottom: 30px;
    }
    .sectionService:first-child {
        border-left: 0;
    }
    .sectionTeam {
        max-width: 580px;
    }
    .sectionMap {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sectionMapArea {
        width: auto;
    }
    .sectionMapInfo {
        width: auto;
    }
    .sectionMapInfoItem {
        margin-bottom: 20px;
    }
    .sectionMapInfoItem:last-child {
        margin-bottom: 0px;
    }
}

@media (max-width:450px) {
    .menu-opener {
        width: 45px;
        margin-right: 30px;
        display: block;
    }
    .logo {
        margin-left: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        margin-left: 30px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #B28756;
    }
    .banner h1 {
        font-size: 30px;
    }
    .banner h2 {
        font-size: 17px;
    }
    .sectionAboutMe {
        flex-direction: column;
    }
    .sectionAboutMeLeft {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .sectionAboutMeRight {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .sectionAboutMeRight img {
        width: 100%;
    }
    .sectionServices {
        flex-wrap: wrap;
    }
    .sectionService {
        min-width: 100%;
        margin-bottom: 30px;
    }
    .sectionService:first-child {
        border-left: 0;
    }
    .sectionProjectsPhoto {
        width: 320px;
    }
    .sectionProjectsPhotoArea {
        width: 300px;
        height: 190px;
    }
    .sectionProjectsFilters {
        margin-left: 30px;
        margin-right: 30px;
    }
    .sectionMap {
        padding: 0px
    }
    .sectionMapArea {
        width: auto;
    }
    .sectionMapInfo {
        width: auto;
    }
    .sectionMapInfoItem {
        margin-bottom: 40px;
    }
    .sectionMapInfoItem:last-child {
        margin-bottom: 0px;
    }
    .sectionClientText p {
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .default.light.company {
        display: none;
    }
    .default.light.tellUs {
        display: none;
    }
    .default.light.contactUs {
        padding: 10px;
    }
}

@media (max-width:600px) {
    .sectionTeam {
        max-width: 280px;
    }
    .sectionPremium {
        flex-direction: column;
    }
    .sectionPremiumLeft img {
        width: 60%;
        height: 30%;
        margin: auto;
        margin-bottom: 50px;
    }
    .sectionFacts {
        flex-direction: column;
    }
    .footerArea {
        flex-direction: column;
    }
    .footerAreaItem1 {
        margin-bottom: 20px;
        flex: none;
    }
    .footerCopyright {
        margin-top: 10px;
    }
    .footerAreaItem2 {
        margin-bottom: 50px;
    }
    .footerAreaItem3 {
        height: 200px;
        flex: none;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .sectionPremiumLeft img {
        width: 300px;
        height: 400px;
    }
}